<body class="cuerpo-pagina-index">
    {{#> layout}}
    <main class="proyector-index">
        <h1 class="titulos">COVID-19: se informan 109 casos nuevos</h1>
        <p class="parrafos">El Ministerio de Salud informa que los casos nuevos
            confirmados a nivel nacional disminuyen en 41,1% en la última
            semana, mientras que en los últimos 14 días se reducen en 63,5%.
            Además, quince regiones bajan sus casos en los últimos siete días y
            dieciséis en las últimas 2 semanas.</p>
        <p class="parrafos">
            El reporte de casos de este lunes 8 de mayo registra 109 casos
            nuevos de COVID-19, con una positividad de 1,40% en las últimas 24
            horas a nivel nacional, con 7.219 exámenes, PCR y test de antígeno.
            La positividad diaria en la Región Metropolitana es de 1,55%. </p>
        <p class="parrafos">
            De los 109 casos nuevos, un 53% se diagnostica por test de antígeno,
            un 25% se origina por búsqueda activa de casos (BAC) y un 18% de los
            notificados son asintomáticos. En cuanto a la Región Metropolitana
            presenta un 40% por antígeno, un 44% por BAC y 30% de los casos
            notificados son asintomáticos.
        </p>
        <p class="parrafos">
            Según toma de muestra, las regiones con mayor positividad en la
            última semana son Atacama, Coquimbo, O’Higgins y Tarapacá.

            En tanto, la región de Atacama tiene la tasa de incidencia actual
            más alta por 100 mil habitantes, seguida por Tarapacá, Valparaíso y
            Ñuble.</p>
        <div class="carrusel-contenedor">
            <div id="carouselExampleInterval" class="carousel slide"
                data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active"
                        data-bs-interval="10000">
                        <img id="img-carrusel"
                            src="https://www.minsal.cl/wp-content/uploads/2023/05/2023.05.08_CIFRAS-COVID-19.png"
                            class="d-block
                            w-100" alt="..." width="400px"
                            height="800px">
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                        <img id="img-carrusel"
                            src="https://www.minsal.cl/wp-content/uploads/2021/07/2021.07.11_cifras-covid-19_situacion-en-chile_2021.07.11.png"
                            class="d-block
                            w-100" alt="..." width="400px"
                            height="800px">
                    </div>
                    <div class="carousel-item">
                        <img id="img-carrusel"
                            src="https://www.minsal.cl/wp-content/uploads/2021/05/banner-reporte-diario-covid_660x350-1.png"
                            class="d-block
                            w-100" alt="..." width="400px"
                            height="800px">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button"
                    data-bs-target="#carouselExampleInterval"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon"
                        aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button"
                    data-bs-target="#carouselExampleInterval"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon"
                        aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <h1 class="titulos">Reporte diario</h1>
        <p class="parrafos">Según el reporte de hoy, de los 109 casos nuevos de
            COVID-19, 55 corresponden a personas sintomáticas y 12 no presentan
            síntomas. Además, se registraron 42 test PCR Positivo que no fueron
            notificados.    </p>
            <p class="parrafos">
            La cifra total de personas que han sido diagnosticadas con COVID-19
            en el país alcanza las 5.285.423. De ese total, 400 pacientes se
            encuentran en etapa activa, considerando un aislamiento de 5 días
            desde el inicio de síntomas o desde la toma del test, según criterio
            de fase de Apertura. Los casos recuperados son 5.193.643.  </p>
        <p class="parrafos">
            En cuanto a los decesos, de acuerdo con la información entregada por
            el Departamento de Estadística e Información de Salud (DEIS), se
            registran 10 fallecidos por causas asociadas al COVID-19. El número
            total de fallecidos asciende a 61.447 en el país.   </p>
        <p class="parrafos">
            Al día de ayer, 38 personas se encontraban hospitalizadas en
            Unidades de Cuidados Intensivos, de las cuales 23 permanecían con
            apoyo de ventilación mecánica. Con relación a la Red Integrada de
            Salud, existe un total de 256 camas críticas disponibles para el
            paciente que lo requiera, independiente de la región donde se
            encuentre.  </p>
        <p class="parrafos">
            Respecto a la Red de Laboratorios y la capacidad diagnóstica, ayer
            se informaron los resultados de 7.219 exámenes PCR y test antígeno,
            alcanzando a la fecha un total de 49.476.332 analizados a nivel
            nacional. La positividad para las últimas 24 horas a nivel país es
            de 1,40% y en la Región Metropolitana es de 1,55%.  </p>
        <p class="parrafos">
            Con respecto a las Residencias Sanitarias, disponemos de 3 recintos
            de hospedaje, con 133 camas totales. La ocupación real a nivel
            nacional es de un 7%, quedando un total de 105 camas disponibles
            para ser utilizadas.</p>
    </main>
    {{/layout}}
</body>